{% extends "base.html" %}

{% if add_item %}
    {% block title %}MuseumDB: add item{% end %}

    {% block header %}Add a new item to the DB{% end %}
{% else %}
    {% block title %}MuseumDB: edit item{% end %}

    {% block header %}Edit an existing item in the DB{% end %}
{% end %}

{% block content %}
    <div class="col-lg-8">
        {% if add_item %}
            <h4>Add an item</h4>
        {% else %}
            <h4>Edit an item</h4>
        {% end %}
        <div class="hline"></div>
        {% if add_item %}
            <p>Add an item to the MuseumDB.</p>
        {% else %}
            <p>Edit an exising item that's already in the MuseumDB</p>
        {% end %}
        <form role="form" method="POST">
            <div class="form-group">
                <label for="ItemMainType">Class</label>
                <select id="ItemMainType" name="ItemMainType">
                    {% for item_type in item_types %}
                        <option value="{{ str(item_type['_id']) }}"
                        {% if add_item %}
                        {% else %}
                            {% if False %}
                                selected
                            {% end %}
                        {% end %}
                        >{{ str(item_type['type_name']) }}
                    {% end %}
                </select>
            </div>
            <div class="form-group">
                <label for="ContactName">Name</label>
                {% if add_item %}
                    <input class="form-control" id="ContactName" name="ContactName" type="text">
                {% else %}
                    <input class="form-control" id="ContactName" name="ContactName" type="text" value="{{ contact_name }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactAddress">Address</label>
                {% if add_item %}
                    <input class="form-control" id="ContactAddress" name="ContactAddress" type="text">
                {% else %}
                    <input class="form-control" id="ContactAddress" name="ContactAddress" type="text" value="{{ contact_address }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactCity">City</label>
                {% if add_item %}
                    <input class="form-control" id="ContactCity" name="ContactCity" type="text">
                {% else %}
                    <input class="form-control" id="ContactCity" name="ContactCity" type="text" value="{{ contact_city }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactCountry">Country</label>
                {% if add_item %}
                    <input class="form-control" id="ContactCountry" name="ContactCountry" type="text">
                {% else %}
                    <input class="form-control" id="ContactCountry" name="ContactCountry" type="text" value="{{ contact_country }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactTelNumber">Telephone Number</label>
                {% if add_item %}
                    <input class="form-control" id="ContactTelNumber" name="ContactTelNumber" type="text">
                {% else %}
                    <input class="form-control" id="ContactTelNumber" name="ContactTelNumber" type="text" value="{{ contact_telnumber }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactEmail">Email</label>
                {% if add_item %}
                    <input class="form-control" id="ContactEmail" name="ContactEmail" type="text">
                {% else %}
                    <input class="form-control" id="ContactEmail" name="ContactEmail" type="email" value="{{ contact_email }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactURL">Website</label>
                {% if add_item %}
                    <input class="form-control" id="ContactURL" name="ContactURL" type="text">
                {% else %}
                    <input class="form-control" id="ContactURL" name="ContactURL" type="text" value="{{ contact_url }}">
                {% end %}
            </div>
            <div class="form-group">
                <label for="ContactComment">Comment</label>
                {% if add_item %}
                    <input class="form-control" id="ContactComment" name="ContactComment" type="text">
                {% else %}
                    <input class="form-control" id="ContactComment" name="ContactComment" type="text" value="{{ contact_comment }}">
                {% end %}
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="ContactShow"
                    {% if add_item %}
                    {% else %}
                        {% if contact_show %}
                            checked="checked"
                        {% end %}
                    {% end %}
                    > Show
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="ContactParticipant"
                    {% if add_item %}
                    {% else %}
                        {% if contact_participant %}
                            checked="checked"
                        {% end %}
                    {% end %}
                    > Participant
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="ContactOwner"
                    {% if add_item %}
                    {% else %}
                        {% if contact_owner %}
                            checked="checked"
                        {% end %}
                    {% end %}
                    > Owner
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="ContactDonor"
                    {% if add_item %}
                    {% else %}
                        {% if contact_donor %}
                            checked="checked"
                        {% end %}
                    {% end %}
                    > Donor
                </label>
            </div>
            <button type="submit" class="btn btn-theme">Submit</button>
            {% if add_item %}
            {% else %}
                <input name="ContactID" type="hidden" value="{{ contact_id }}">
            {% end %}
        </form>
    </div>

{% end %}
