{% extends "base.html" %}

{% if add_item %}
    {% block title %}MuseumDB: add item{% end %}

    {% block header %}Add a new item to the DB{% end %}
{% else %}
    {% block title %}MuseumDB: edit item{% end %}

    {% block header %}Edit an existing item in the DB{% end %}
{% end %}

{% block jquery %}
    <link href="/assets/css/bootstrap-datepicker3.css" rel="stylesheet">
    <script src="/assets/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">

        function fillModelsDropdown(selected_supplier_id) {
            // First clear all existing items in de dropdown
            $("#ItemModel")
                .find('option')
                .remove()
                .end()
                .append($('<option>').text("None"));

            // Fill it based on the supplier supplier
            $.ajax({
                type: 'GET',
                url: "/models/supplier/" + selected_supplier_id,
                success: function(data) {
                    console.log(data);
                    $.each(data, function(index, value) {
{% if add_item %}
                        $('<option>').val(value).text(index).appendTo('#ItemModel');
{% else %}
                        if (value == "{{ model['_id']["$oid"] }}") {
                            $('<option>').val(value).text(index).prop('selected', true).appendTo('#ItemModel');
                        }
                        else {
                            $('<option>').val(value.text(index).appendTo('#ItemModel');
                        }
{% end %}
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                },
                dataType: "json"
            });
        };

        function fillSuppliersDropdown() {
            // Use an AJAX request to download a JSON array of suppliers and use it to fille the ModelSuppliers dropdown
            $.ajax({
                type: 'GET',
                url: "/suppliers",
                success: function(data) {
                    $("#ModelSupplier")
                        .find('option')
                        .remove()
                        .end()
                        .append($('<option>').text("None"));
                    $.each(data, function(index, value) {
{% if add_item %}
                        $('<option>').val(index).text(value).appendTo('#ModelSupplier');
{% else %}
                        if (index == "{{ item['model_supplier'] }}") {
                            $('<option>').val(index).text(value).prop('selected', true).appendTo('#ModelSupplier');
                            // Call to also fill the dependent dropdown using the index as the selected suplier ID
                            fillModelsDropdown(index);
                        }
                        else {
                            $('<option>').val(index).text(value).appendTo('#ModelSupplier');
                        }
{% end %}
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                },
                dataType: "json"
            });
            
        };

        $(document).ready(function() {
            // At startup, fill the suppliers dropdown with all the suppliers
            fillSuppliersDropdown();

            // Setup the event handlers for this page
            $("body").on("change", "#ModelSupplier", function(selected) {
                var selected_supplier_id = $(':selected',this).attr('value');
                fillModelsDropdown(selected_supplier_id);
            });

            $('#InCollectionDate').datepicker({
                autoclose: true,
                clearBtn: true,
                format: "dd-mm-yyyy",
                todayHighlight: true,
            });
        });
    </script>
{% end %}

{% block content %}
    <div class="col-lg-8">
        {% if add_item %}
            <h4>Add an item</h4>
        {% else %}
            <h4>Edit an item</h4>
        {% end %}
        <div class="hline"></div>
        {% if add_item %}
            <p>Add an item to the MuseumDB.</p>
        {% else %}
            <p>Edit an exising item that's already in the MuseumDB</p>
        {% end %}
        <form role="form" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="ModelSupplier" class="col-sm-3 control-label">Supplier</label>
                <div class="col-sm-8">
                    <select id="ModelSupplier" name="ModelSupplier" class="col-sm-6">
                         <!-- Filled using an AJAX request -->
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="ItemModel" class="col-sm-3 control-label">Model</label>
                <div class="col-sm-8">
                    <select id="ItemModel" name="ItemModel" class="col-sm-6">
                        <option>None</option>
                         <!-- Filled using an AJAX request -->
                    </select>
                </div>
            </div>

             <div class="form-group">
                <label for="OwnerContactID" class="col-sm-3 control-label">Owner</label>
                <div class="col-sm-8">
                    <select id="OwnerContactID" name="OwnerContactID" class="col-sm-6">
                        {% for contact in owner_contacts %}
                            {% if add_item %}
                                <option value="{{ str(contact['_id']) }}">{{ str(contact['contact_name']) }}
                            {% else %}
                                {% try%}
                                    {% if item['owner_contact_id'] == str(contact['_id']) %}
                                        <option value="{{ str(contact['_id']) }}" selected>{{ str(contact['contact_name']) }}
                                    {% else %}
                                        <option value="{{ str(contact['_id']) }}">{{ str(contact['contact_name']) }}
                                    {% end %}
                                {% except %}
                                    <option value="{{ str(contact['_id']) }}">{{ str(contact['contact_name']) }}
                                {% end %}
                            {% end %}
                        {% end %}
                     </select>
                </div>
            </div>


            <div class="form-group">
                <label for="DonorContactId" class="col-sm-3 control-label">Donor</label>
                <div class="col-sm-8">
                    <select id="DonorContactId" name="DonorContactId" class="col-sm-6">
                        <option value="None">None</option>
                        {% for contact in donor_contacts %}
                            {% if add_item %}
                                <option value="{{ str(contact['_id']) }}">{{ str(contact['contact_name']) }}
                            {% else %}
                                {% try%}
                                    {% if item['donor_contact_id'] == str(contact['_id']) %}
                                        <option value="{{ str(contact['_id']) }}" selected>{{ str(contact['contact_name']) }}
                                    {% else %}
                                        <option value="{{ str(contact['_id']) }}">{{ str(contact['contact_name']) }}
                                    {% end %}
                                {% except %}
                                    <option value="{{ str(contact['_id']) }}">{{ str(contact['contact_name']) }}
                                {% end %}
                            {% end %}
                        {% end %}
                     </select>
                </div>
            </div>

            <div class="form-group">
                <label for="InCollectionDate" class="col-sm-3 control-label">In collection</label>
                <div class="col-sm-8">
                    <div class="input-group date col-sm-6">
                        <input data-provide="datepicker-inline" name="InCollectionDate" id="InCollectionDate" type="text" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
                    </div>
                </div>
            </div>


            {% if add_item %}
            {% else %}
                <input name="ItemID" type="hidden" value="{{ item["_id"] }}">
            {% end %}
 
            <button type="submit" class="btn btn-theme">Submit</button>
        </form>
    </div>

{% end %}
