{% extends "base.html" %}

{% if add_model %}
    {% block title %}MuseumDB: add model{% end %}

    {% block header %}Add a new model to the DB{% end %}
{% else %}
    {% block title %}MuseumDB: edit model{% end %}

    {% block header %}Edit an existing model in the DB{% end %}
{% end %}

{% block jquery %}
   <!-- <script type="text/javascript">
        $(document).ready(function() {
            $("body").on("change", "#SupplierID", function(selected) {
                var selected_type = $(':selected',this).attr('value');
                alert("The selected value is: " + selected_type);
            });
        }); 
   </script> -->
   
   <script type="text/javascript">
        $(document).ready(function() {
            // First fill the type class dropdown with the type classes using AJAX
            $.ajax({
                type: 'GET',
                url: "/type_classes",
                success: function(data) {
                    console.log(data);
                    //data.map(function () {
                    //    return $('<option>').val(this.value).text(this.label);
                    //}).appendTo('#TypeClass');
                    $.each(data, function(index, value) {
                        $('<option>').val(index).text(value).appendTo('#TypeClass');
                    });
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                },
                dataType: "json"
            });
            
            // When all initialisation has been done, add the event handlers below
            
            //When a model typeclass has been chosen, load the subtype in the SubTypeClass dropdown (if available) 
            $("body").on("change", "#TypeClass", function(selected) {
               var selected_type = $(':selected',this).attr('value');
               //alert("The selected value is: " + selected_type);

               //So the dropdown has been changed, first clear the existing values and add a default 
               $("#SubTypeClass")
                    .find('option')
                    .remove()
                    .end()
                    .append($('<option>').text("None"))
               ;
               
               // And then fill it with the subclass types of the typeclass
               $.ajax({
                   type: 'GET',
                   url: "/type/" + selected_type,
                   success: function(data) {
                       console.log(data);
                       //data.map(function () {
                       //    return $('<option>').val(this.value).text(this.label);
                       //}).appendTo('#TypeClass');
                       $.each(data, function(index, value) {
                         $('<option>').val(index).text(value["type_name"]).appendTo('#SubTypeClass');
                       });
                   },
                   error: function(XMLHttpRequest, textStatus, errorThrown) {
                       alert(textStatus);
                   },
                   dataType: "json"
               });
            });
        });
   </script>
   
{% end %}

{% block content %}
    <div class="col-lg-8">
        {% if add_model %}
            <h4>Add a model</h4>
        {% else %}
            <h4>Edit a model</h4>
        {% end %}
        <div class="hline"></div>
        {% if add_model %}
            <p>Add a model to the MuseumDB.</p>
        {% else %}
            <p>Edit an existing model that's already in the MuseumDB</p>
        {% end %}
        <form role="form" method="POST" class="form-horizontal">
            <div class="form-group">
                <label for="TypeClass" class="col-sm-3 control-label">Model type class</label>
                <div class="col-sm-8">
                    <select id="TypeClass" name="TypeClass">
                         <!-- Filled using an AJAX request -->
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label for="SubTypeClass" class="col-sm-3 control-label">Model sub type class</label>
                <div class="col-sm-8">
                     <select id="SubTypeClass" name="SubTypeClass">
                         <option value="None">None</option>
                         <!-- Filled further using an AJAX request -->
                     </select>
                </div>
            </div>
            
            <div class="form-group">
                <label for="SupplierID" class="col-sm-3 control-label">Model supplier</label>
                <div class="col-sm-8">
                     <select id="SupplierID" name="SupplierID">
                         {% for supplier in suppliers %}
                             <option value="{{ str(supplier['_id']) }}"
                             {% if add_model %}
                             {% else %}
                                 {% if False %}
                                     selected
                                 {% end %}
                             {% end %}
                             >{{ str(supplier['supplier_name']) }}
                         {% end %}
                     </select>
                </div>
            </div>

            <div class="form-group">
                <label for="ModelName" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-8">
                     {% if add_model %}
                         <input class="form-control" id="ModelName" name="ModelName" type="text">
                     {% else %}
                         <input class="form-control" id="ModelName" name="ModelName" type="text" value="{{ model['model_name'] }}">
                     {% end %}
                </div>
            </div>
            {% if add_model %}
            {% else %}
                <input name="ModelID" type="hidden" value="{{ model_id }}">
            {% end %}
            <button type="submit" class="btn btn-theme">Submit</button>
        </form>
    </div>

{% end %}
