<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title>{% block title %}MuseumDB{% end %}</title>


	<!-- jQuery via Google CDN -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/font-awesome.min.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <script src="/assets/js/modernizr.js"></script>
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/retina-1.1.0.js"></script>
    <script src="/assets/js/custom.js"></script>
 
    {% block jquery %}
    {% end %}

    <!-- include our own custom css so we can fix all the mixups from using a theme and bootstrap -->
    <link href="/assets/css/custom.css" rel="stylesheet">
  </head>

  <body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">{% block title %}MuseumDB{% end %}</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">HOME</a></li>
            <li><a href="/items">ITEMS</a></li>
            <li><a href="/models">MODELS</a></li>
            <li><a href="/suppliers">SUPPLIERS</a></li>
            <li><a href="/contacts">CONTACTS</a></li>
            <li><a href="/types">TYPES</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADD <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="/add/item">ITEM</a></li>
                <li><a href="/add/supplier">SUPPLIER</a></li>
                <li><a href="/add/contact">CONTACT</a></li>
                <li><a href="/add/type">TYPE</a></li>
                <!-- <li><a href="/add/item">ITEM</a></li> -->
                <li><a href="/add/model">MODEL</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

	<!-- *****************************************************************************************************************
	 HEADERWRAP
	 ***************************************************************************************************************** -->
	<div id="blue">
	    <div class="container">
			<div class="row">
                            {% block header %}
                            Welcome to MuseumDB
                            {% end %}
			</div><!-- /row -->
	    </div> <!-- /container -->
	</div><!-- /headerwrap -->

	<!-- *****************************************************************************************************************
	 MIDDLE CONTENT
	 ***************************************************************************************************************** -->

	 <div class="container mtb">
	 	<div class="row">
            {% block content %}
	 		<div class="col-lg-8">
		 		<p>Lorem Ipsum</p>
 			</div>
            {% end %}
	 	</div><! --/row -->
	 </div><! --/container -->
	 
	<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>About</h4>
		 			<div class="hline-w"></div>
		 			<p>Computermuseum Arnhem is a collection of computers, documentation and peripherals
                                        at the Hack42 hacker space.</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Computermuseum Arnhem</h4>
		 			<div class="hline-w"></div>
		 			<p>
                                                Stichting Hack42<br/>
		 				Radarweg 12<br/>
		 				6816 TP  Arnhem<br/>
		 				Nederland<br/>
		 			</p>
		 		</div>
		 	
		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
  </body>
</html>
