{% extends "base.html" %}

{% block title %}MuseumDB: Items{% end %}

{% block header %}Lists all the items in the MuseumDB{% end %}

{% block content %}
    <div class="col-lg-8">
        <h4>Existing Items</h4>
        <div class="hline"></div>
            <ul>
                {% for item in items %}
                    <!-- Begin new item -->
                    <div class="spacing"></div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>
                                <h3 class="ctitle">{{ item["supplier"]["supplier_name"] }} {{ item["model"]["model_name"] }}</h3>
                            </p>
                            <p>Serial: {{ item["serial_number"] }}
                            <p><a href="/item/{{ str(item["_id"]) }}">View</a> <a href="/edit/item/{{ str(item["_id"]) }}">Edit</a> <a href="/remove/item/{{ str(item["_id"]) }}">Delete</a></p>
                        </div>
                    </div>
                {% end %}
            </ul>
    </div>
{% end %}
